<ion-header color="danger">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="form-content" ><div> <img class="cardimage"  src="../../../assets/cartimages/hamburger.png" alt="ion"></div>
<form  [formGroup]="loginForm" (ngSubmit)="submitForm() " novalidate><ion-card >
  <ion-card-content>
  <div> <ion-text class="text"><h1>Hello</h1></ion-text>
    <div><ion-text  class="text">SignIn to your account</ion-text></div></div>
    <ion-item  class="label">
      <ion-icon name="mail" slot="end"></ion-icon>
    <ion-label position="floating">Email</ion-label>
    <ion-input  type="email"   formControlName="email"  ></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf=" isSubmitted && errorControl.email.errors?.required">
    Email is required.
  </span>
  <span class="error ion-padding" *ngIf="!loginForm.reset && isSubmitted && errorControl.email.errors?.pattern">
    Please provide valid email id.
  </span>
<br>  
  <ion-item class="label"  ><ion-icon name="eye-off" slot="end"></ion-icon>
    <ion-label position="floating">Password</ion-label>
    <ion-input  type="password" formControlName="password"></ion-input>

  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
    password is required.
  </span>
  <span class="error ion-padding" *ngIf="!loginForm.reset &&isSubmitted && errorControl.password.errors?.pattern">
    Password must contain at least 6 and max 16 letters with special symbol,upper-lower case character and number.
  </span>
  <p class="forgottext" > <a href="/forgot-password">Forgot your password ?</a></p>
  <ion-button expand="block"  class="loginButton" type="submit" >LogIn</ion-button>

 

<div class="loginOptions">
  <h4 class="loginWith"> Or</h4><div>
    <ion-icon name="logo-facebook" class="logos"></ion-icon>
  <ion-icon name="logo-instagram" class="logos"></ion-icon>
  <ion-icon name="logo-twitter" class="logos"></ion-icon></div></div>
</ion-card-content>
  
</ion-card>

</form> 

<p class="bottomtext">Don't have an account ? <a href="/signup" class="register"> Register Now</a> </p>
 
</ion-content>



