ion-content{
    height:auto
}
ion-card{
    height:auto;
    width:auto
}
a{
    text-decoration: none;
}
.forgottext{
    text-align: center;
  color: blue;
  margin-left: 25px;
}
.cardimage{
    width:auto
}
div{
    align-items: center;
    text-align: center;
}

.logos{
        color: blue;
        height: 25px;
        width: 50px;
        justify-content: center;padding: 2%;
    }
