<ion-header>
  <ion-toolbar>
    <ion-title>
Address    </ion-title>
<ion-buttons slot="start">
  <ion-back-button defaultHref="/my-account"></ion-back-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <ion-button (click)="getCurrentCoordinates()" expand="block">
      Get Location
    </ion-button>
  <ion-list>
    <ion-list-header>
      <ion-label>Location Coordinates</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        Latitue {{latitude}}
      </ion-label>
      <ion-badge color="danger" slot="end"></ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        Longitude
      </ion-label>
      <ion-badge color="danger" slot="end">{{longitude}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        Address
      </ion-label>
      <ion-badge color="danger" slot="end">{{address}}</ion-badge>
    </ion-item>
    </ion-list>    
  </div>
</ion-content>