<ion-header>
  <ion-toolbar>
    <ion-title>address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="signupheader ion-no-padding" lines="none">
    <ion-img slot="start" src="../../../assets/image/address/house.png">

    </ion-img>
    
     <div>
        <p class="address">Address</p>

      <p class="address1">SHIPPING DETAILS</p>
       </div>
      
  </ion-item >
  <ion-item lines="none" >      <ion-button class="location"> Use My current location <ion-icon name="location" slot="start"></ion-icon></ion-button>
  </ion-item>
  <ion-item class="label" lines="none">
    <ion-input type="name"  placeholder="House No/Apartment No" lines="none"></ion-input>
  </ion-item>
  <ion-item class="label" lines="none">
    <ion-input type="name"  placeholder="Street address1" lines="none"></ion-input>
  </ion-item>
  <ion-item class="label" lines="none">
    <ion-input type="name"  placeholder="Street address2" lines="none"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col width-40>
  <ion-item>
          <ion-label position="stacked" >Country</ion-label>
          <ion-input type="text" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col width-40>
        <ion-item >
          <ion-label position="stacked">State</ion-label>
          <ion-input type="number" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  
  
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col width-40>
<ion-item>
          <ion-label position="stacked" >City</ion-label>
          <ion-input type="text" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col width-40>
        <ion-item >
          <ion-label position="stacked">Zip Code</ion-label>
          <ion-input type="number" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>


</ion-grid>

<ion-item lines="none" >      <ion-button class="addAddress"> Add Address</ion-button>
</ion-item>


</ion-content>
