.signupheader{
    margin-top: 5%;
    margin-bottom: 10%;
}ion-img{
    margin-left: 10%;
    margin-right: 15px;
}
.address{
    margin-top: 35px;
    margin-left: 5px;
    font-size: 25px;
    margin-bottom: -10px;
    font-weight: bold;
}
.address1{
    font-size: 15px;
    
}
.label{
    border-bottom:1px  solid rgb(80, 80, 80);
    border:1px  solid rgb(80, 80, 80);

    margin: 10px;
    height: 7%;
}
.addAddress{
--background: orange;
height: 30px;
}
.location{
    height: 50px;
}