<ion-header>
  <ion-toolbar>
    <ion-title>My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="main-header">
    <div align="center"> 
      <ion-avatar>
        <img src="../../../assets/image/profile/smoothie.png" />
      </ion-avatar>
      <ion-icon name="camera" class="camera-icon" button (click)="buttonClick()"></ion-icon>
    </div>
  </ion-grid>
 
<div>
  <ion-item class="listitem listitems" lines="none" button (click)="logsecurityClick()" >
    <ion-icon class="logos" slot="start" name="lock-closed-outline"></ion-icon>
    <ion-label>Login & security</ion-label>
    <ion-icon class="logo" name="caret-forward-outline"></ion-icon>
  </ion-item>
  <ion-item class="listitem listitems" lines="none" button (click)="addressClick()" >
    <ion-icon class="logos" slot="start" name="location-outline"></ion-icon>
    <ion-label>My Address</ion-label>
    <ion-icon class="logo" name="caret-forward-outline"></ion-icon>
  </ion-item>
    <ion-item class=" listitems" lines="none" >
      <ion-icon class="logos" slot="start" name="heart-outline"></ion-icon>
      <ion-label>Wishlist</ion-label>
      <ion-icon class="logo" name="caret-forward-outline"></ion-icon>
    </ion-item>
    <ion-item class=" listitems" lines="none" >
      <ion-icon class="logos" slot="start" name="clipboard-outline"></ion-icon>
      <ion-label>Order History</ion-label>
      <ion-icon class="logo" name="caret-forward-outline"></ion-icon>

    </ion-item>
    <ion-item class=" listitems" lines="none" >
      <ion-icon class="logos" slot="start" name="notifications-outline"></ion-icon>
      <ion-label>Notifications</ion-label>
      <ion-icon class="logo" name="caret-forward-outline"></ion-icon>

    </ion-item>
   


    
 
</div>




     


</ion-content>