<ion-header>
  <ion-toolbar color="warning">
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          Products
        </ion-col>
        <ion-col size="3">
          Total Price / product
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card *ngFor="let prod of productList" class="title-font">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-img src="{{prod.imgurl}}" class="prod-img"></ion-img>
        </ion-col>
        <ion-col>
          {{prod.title}}<br>
          Price = {{prod.price}}<br>
          Quantity = {{prod.quantity}}
        </ion-col>
        <ion-col size="2">
          {{prod.quantity*prod.price}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  {{totalPrice}}
  <ion-button expand="block">Confirm Order</ion-button>
</ion-content>