ion-content{
    --background:yellow;
}
ion-card{
    width:auto ;
    height: 95%;
    margin:5%; --background:pink;
}

.profilelist{
    margin: 5%;
    height: 25%;
}
.profileimage{
    height: 50%;
width: 50%;
padding: 0;
margin-right: -15%;

}
ion-item{
    --background:pinkhite;
}
div{
text-align: center;
align-items: center;
}
.profiletext{
        font-size: 18px;
margin-left: 5px;
    }
.profileheader{
    margin-top: -10px;
}    