ion-content{
    // --background:rgb(255, 231, 187);
    --background:white;

}
ion-card{

    width:auto ;
    height:15%;
    --background:white;
    margin-bottom: 20px;
}

.profilelist{
    margin: 5%;
    height: 25%;
}
.profileimage{
    height: 45%;
width: 45%;
padding: 0;
margin-right: -15%;

}
ion-item{
    --background:pinkhite;
}
div{
text-align: center;
align-items: center;
}
.profiletext{
        font-size: 18px;
padding: 1px;
font-weight: bolder;
    }
    .profiletext1{
        font-size: 18px;
margin-top: -1px;
    }
.profileheader{
    margin-top: -10px;
}    
.profileloginbutton{
justify-content: center;
align-items: center;
margin-top: -35px;
margin-bottom: 50px;

}
.ionbutton{
    width: 200px;
    height: 45px;
    margin-left: 10px;
    font-size: 20px;
    --background:rgb(255, 123, 0);
    text-align: center;
}
.listitems{
    border-bottom: 1px solid rgb(255, 231, 187) ;;
    font-size: 20px;
    padding: 5px;
    // --background:rgb(255, 231, 187) ;
    --background:white;

}

.logos{
    color: blue;
}
.logo{
    color:darkblue;
}
.main-header{
    text-align: left;
    height: 15%;background-color: white;

    margin-bottom: 20px;
border: none;
border-width:0px;     ;
}

p{
    margin-top: 10px;
}
ion-avatar {
    width: 10vh;
    height: 10vh;
    background: white;
   justify-content: center;
    border: 1px solid white;
    margin-left: 38%;
}
div{
    justify-content: center;
    align-items: center;
}