<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
   

 <ion-item lines="none" class="profileheader  ion-no-padding">
     <div>  
   <p class="profiletext">Looking for delicious food ?</p>
    <div><p class="profiletext">login with your account..</p> </div>
  </div>
    <ion-img class="profileimage" slot="end" src="../../../assets/image/profile/drink.png"></ion-img>
     <br> 
     </ion-item>
    
    
  
  

      <ion-item >
        <ion-icon name="wifi" slot="start"></ion-icon>
        <ion-label>Card Link Item 1 activated</ion-label>
      </ion-item>
       

 
</ion-content>
