<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<div *ngIf="isloggedin==false">
  <ion-item class="profileheader ion-no-padding" lines="none">
    <div>
      <h1 class="profiletext">Looking for delicious food?</h1>
      <div>
        <p  class="profiletext1">Login to your account.</p>
      </div>

    </div>
    <ion-img slot="end" class="profileimage" src="../../../assets/image/profile/drink.png">

    </ion-img>

  </ion-item>

 
<div class="profileloginbutton"> 
  
  
  <ion-button class="ionbutton" expand="block"  shape="round" (click)="onClick()" >
    Login
    <ion-icon slot="end" name="fast-food-sharp"></ion-icon>  
  </ion-button>
</div></div>

<div  *ngIf="isloggedin==true">
  <ion-card>
  <ion-grid class="main-header" >
    <div align="center"> 
      <ion-avatar>
        <img src="../../../assets/image/profile/user.png" />
      </ion-avatar>
 <div *ngFor="let item of arr">     <p>{{item.username}}</p>
  <p>{{item.mobile}} | {{item.email}}</p></div>
</div>
  </ion-grid></ion-card>
</div>
    <div>
<div>
  <ion-item class="listitem listitems" lines="none" button (click)="buttonClick()" *ngIf="isloggedin==true">

    <ion-icon class="logos" slot="start" name="person-outline"></ion-icon>
    <ion-label>My Account</ion-label>
    <ion-icon class="logo" name="caret-forward-outline"></ion-icon>

  </ion-item>


  <ion-item class="listitem listitems" lines="none" *ngIf="isloggedin==true || isloggedin==false ">
  <ion-icon class="logos" slot="start" name="location-outline"></ion-icon>

  <ion-label>Store Locations</ion-label>
  <ion-icon class="logo" name="caret-forward-outline"></ion-icon>
</ion-item>
<ion-item class="listitem1 listitems" lines="none" *ngIf="isloggedin==true || isloggedin==false ">
  <ion-icon class="logos" slot="start" name="information-circle-outline"></ion-icon>
  <ion-label>AboutUs</ion-label>
  <ion-icon class="logo" name="caret-forward-outline"></ion-icon>
</ion-item>
<ion-item class="listitem1 listitems" lines="none"  *ngIf="isloggedin==true || isloggedin==false ">
<ion-icon class="logos" slot="start" name="help-circle-outline"></ion-icon>
  <ion-label>Help</ion-label>
  <ion-icon class="logo" name="caret-forward-outline"></ion-icon>
</ion-item>


<ion-item class="listitem1 listitems" lines="none" *ngIf="isloggedin==true" button (click)="buttonsClick()">
  <ion-icon class="logos" slot="start" name="chatbox-ellipses-outline"></ion-icon>
    <ion-label>Feedback</ion-label>
    <ion-icon class="logo" name="caret-forward-outline"></ion-icon>
  </ion-item>
<ion-item class="listitem listitems" lines="none" *ngIf="isloggedin==true" button (click)="logoutClick()">
  <ion-icon class="logos" slot="start" name="log-out-outline"></ion-icon>

  <ion-label>Logout</ion-label>
  <ion-icon class="logo" name="caret-forward-outline"></ion-icon>
</ion-item>
</div>

   
</div>



     


</ion-content>