.font{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.padding{
    padding-left: 4%;
}
.second-txt {
    position: absolute;
    bottom: 0px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.3);
    width: 100%; /* Full width */
    height: 25px;
    color:whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 3%;
}
ion-header{
    background-color: orangered;
}
