<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOpts">
    <ion-slide style="width: 100%;">
      <ion-img src="../../../assets/image/Dosa.jfif"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../../assets/image/Salad.jfif"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../../assets/image/Sandwitch.jfif"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../../assets/image/Dosa.jfif"></ion-img>
    </ion-slide>
  </ion-slides>
</ion-content>
