<div>
  <h3 class="padding font">Categories</h3>
</div>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <a href="./products-detail">
          <ion-img src="../../../assets/image/Burger/veg-burger.jpg"></ion-img>
          <h5 class="second-txt">Burgers</h5>
        </a>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <a href="./products-detail">
          <ion-img src="../../../assets/image/Pizza/chicken-pizza.jpg"></ion-img>
          <h5 class="second-txt">Pizza</h5>
        </a>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card>
        <a href="./products-detail">
          <ion-img src="../../../assets/image/SouthIndian/Idli-SI.jpg"></ion-img>
          <h5 class="second-txt">South Indian </h5>
        </a>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <a href="./products-detail">
          <ion-img src="../../../assets/image/Sandwitches/chicken-sandwich.jpg"></ion-img>
          <h5 class="second-txt">Sandwitches</h5>
        </a>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card>
        <a href="./products-detail">
          <ion-img src="../../../assets/image/Combo/display-combo.jpg"></ion-img>
          <h5 class="second-txt">Combo</h5>
        </a>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <a href="./products-detail">
          <ion-img src="../../../assets/image/Salad/display-salad.jpg"></ion-img>
          <h5 class="second-txt">Salads</h5>
        </a>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>